<table border=1>
	<tr>
		<td><b>Pergunta</b></td>
		<td><b>Resposta</b></td>
	</tr>

  <% @faqs.results.each do |faq| %>
  	<tr>
  		<td><%= faq.pergunta %></td>
  		<td><%= faq.resposta %></td>
  	</tr>
  <%end%>
</table>

<br />
<%= link_to "Voltar", root_path %>