<table>
	<tr>
		<td>Pergunta</td>
		<td>Resposta</td>
	</tr>
	
<%for faq in @faqs do %>
	<tr>
		<td><%= faq.pergunta %></td>
		<td><%= faq.resposta %></td>
	</tr>
<%end%>
</table>
	
<%#= link_to "Voltar", :busca %>
