<h1>Busca faq</h1>

<%= form_tag('/') do %>
  <%= text_field_tag :chave_busca, params[:chave_busca] %>
  <%= submit_tag :buscar %>
<% end %>

<% unless @faqs.hits.empty? %>
  <%= render 'list' %>
<% else %>
  <% if params[:chave_busca ]%>
    <p>Nenhum resultado encontrado</p>
  <% end %>
<% end %>