<h1>Busca faq</h1>
<%= form_tag(:action => "resultado", :method => :post ) do %>
  <%= text_field_tag :chave_busca %>
  <%= submit_tag :buscar %>
<% end %>

<%if @faqs.empty? %>
	<% render_partial :list %>
<% %>